The following exercises use 2019 flight statistics from the United States Department of Transportationâ€™s Bureau of Transportation Statistics (available [here](https://www.transtats.bts.gov/DL_SelectFields.asp?gnoyr_VQ=FMF&QO_fu146_anzr=Nv4%20Pn44vr45) and in this repository as `data/T100_MARKET_ALL_CARRIER.zip`). Each row contains information about a specific route for a given carrier in a given month (e.g., JFK &rarr; LAX on Delta Airlines in January). There are 321,409 rows and 41 columns. Note that you don't need to unzip the file to read it in with `pd.read_csv()`.

This continues last week's exercises.

#### __Exercise 8__:

Find the top 5 carriers for median route distance (i.e., for all origin-destination pairs that each carrier has, find the median distance after removing duplicates).

In [ ]:
import pandas as pd
df = pd.read_csv("./data/T100_MARKET_ALL_CARRIER.zip")

df.columns=df.columns.str.lower().str.replace(" ", "_")

#drop duplicate values
#df.drop_duplicates(inplace=True)
df_unique = df[["unique_carrier_name", "origin", "distance", "dest"]].drop_duplicates()

#group the data frame by unique carrier and find the median distances
df_grouped = df_unique.groupby('unique_carrier_name')['distance'].median()

#rather than grouping and sorting (like below), using nlargest is a quicker way to do the data frame
df_grouped.nlargest(5)

#makes sure that the data frame is actually a data frame
#df_grouped = df_grouped.to_frame()

#sort the data frame in descending order
#df_grouped = df_grouped['distance'].sort_values(ascending=False)

#df_grouped.head()

,passengers,freight,mail,distance,unique_carrier,airline_id,unique_carrier_name,unique_carrier_entity,region,carrier,...,dest_state_nm,dest_country,dest_country_name,dest_wac,year,quarter,month,distance_group,class,data_source
0,0.0,53185.0,0.0,8165.0,EK,20392,Emirates,9678A,I,EK,...,Texas,US,United States,74,2019,1,3,17,G,IF
1,0.0,9002.0,0.0,6849.0,EK,20392,Emirates,9678A,I,EK,...,New York,US,United States,22,2019,1,3,14,G,IF
2,0.0,2220750.0,0.0,7247.0,EK,20392,Emirates,9678A,I,EK,...,Illinois,US,United States,41,2019,1,3,15,G,IF
3,0.0,1201490.0,0.0,8165.0,EK,20392,Emirates,9678A,I,EK,...,NaN,AE,United Arab Emirates,678,2019,1,3,17,G,IF
4,0.0,248642.0,0.0,6849.0,EK,20392,Emirates,9678A,I,EK,...,NaN,AE,United Arab Emirates,678,2019,1,3,14,G,IF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321404,96984.0,505308.0,15979.0,1448.0,AS,19930,Alaska Airlines Inc.,06031,D,AS,...,Washington,US,United States,93,2019,3,7,3,F,DU
321405,97011.0,473666.0,55963.0,1448.0,AS,19930,Alaska Airlines Inc.,06031,D,AS,...,Alaska,US,United States,1,2019,2,6,3,F,DU
321406,97098.0,592775.0,18834.0,1448.0,AS,19930,Alaska Airlines Inc.,06031,D,AS,...,Washington,US,United States,93,2019,3,8,3,F,DU
321407,97329.0,210292.0,5431.0,404.0,DL,19790,Delta Air Lines Inc.,01260,D,DL,...,Georgia,US,United States,34,2019,1,3,1,F,DU
321408,97644.0,390399.0,44506.0,1448.0,AS,19930,Alaska Airlines Inc.,06031,D,AS,...,Alaska,US,United States,1,2019,3,7,3,F,DU

#### __Exercise 9:__ 
Find the total cargo transported (mail + freight) and mean distance traveled for the 10 carriers that transported the most cargo.

In [40]:
import pandas as pd
df = pd.read_csv("./data/T100_MARKET_ALL_CARRIER.zip")

df.columns=df.columns.str.lower().str.replace(" ", "_")

#drop duplicate values??
#df.drop_duplicates(inplace=True)

#find ten carriers that transported the most cargo
#df_unique = df[["unique_carrier_name", "freight", "mail", "distance"]]
#df_unique['total_cargo'] = df_unique['mail'] + df_unique['freight']
#df_unique.groupby('unique_carrier_name')['total_cargo'].sum()
#pd.set_option('display.float_format', '{:,.2f}'.format)




df.assign(cargo=lambda x: x.mail + x.freight)\
    .groupby('unique_carrier_name')[["cargo", "distance"]]\
    .agg(dict(cargo="sum", distance="mean")).nlargest(10, "cargo")

                                        cargo  distance
unique_carrier_name
Federal Express Corporation 12,709,663,842.00  1,121.89
United Parcel Service        9,173,866,790.00  1,030.81
Atlas Air Inc.               3,356,847,309.00  1,900.99
United Air Lines Inc.        1,577,891,983.00  1,810.66
American Airlines Inc.       1,353,074,248.00  1,583.19
Kalitta Air LLC              1,272,180,283.00  2,519.58
Polar Air Cargo Airways      1,199,386,139.00  3,111.79
Delta Air Lines Inc.         1,129,523,987.00  1,612.69
China Airlines Ltd.            837,079,895.00  5,828.28
Cathay Pacific Airways Ltd.    774,177,697.00  7,498.69

#### __Exercise 10__:

Which 10 carriers flew the most passengers out of the United States to another country?

In [66]:
import pandas as pd
df = pd.read_csv("./data/T100_MARKET_ALL_CARRIER.zip")

df.columns=df.columns.str.lower().str.replace(" ", "_")

#df.columns
#df.groupby('unique_carrier_name')[["passengers", "origin_country", "dest_country"]]\
    #(["origin_country" == 'US', "dest_country" != 'US']).nlargest(10, "passengers")

#df[(df["origin_country"] == 'US') & (df["dest_country"] != 'US')] \
    #.groupby('unique_carrier_name')[["passengers", "origin_country", "dest_country"]]

#df.nlargest(10, "passengers")

top_passengers = df\
    .query('origin_country_name == "United States" and dest_country_name != "United States"')\
    .groupby('unique_carrier_name').passengers.sum().nlargest(10)
top_passengers

unique_carrier_name
American Airlines Inc.      14,867,653.00
United Air Lines Inc.       14,427,923.00
Delta Air Lines Inc.        13,054,230.00
JetBlue Airways              4,522,492.00
British Airways Plc          3,758,945.00
Lufthansa German Airlines    3,123,611.00
Westjet                      2,626,600.00
Air Canada                   2,540,855.00
Southwest Airlines Co.       2,146,960.00
Virgin Atlantic Airways      2,074,735.00
Name: passengers, dtype: float64